.container {
  max-width: 1100px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.app-name {
  margin: 20px 0;
  text-align: center;
  color: #fff;
}

.question-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.question-item {
  display: inline-block;
  width: 700px;
  padding: 25px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: rgb(228, 222, 190);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.7);
}

.question-text {
  margin: 0;
  margin-bottom: 16px;
}

.buttons-list {
  display: flex;
  flex-direction: column;
}

.answer-btn {
  display: block;
  margin: 10px 15px;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ceb5b5;
}

.answer-btn:hover {
  color: rgb(114, 108, 108);
}

.true {
  color: #0cb10c;
}

.false {
  color: #ee0404;
}

.submit-btn {
  width: 100px;
  padding: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}

.result-wrapper {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
