.app-name {
  margin: 20px 0;
  text-align: center;
  color: #fff;
}

.question-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.question-item {
  display: inline-block;
  width: 700px;
  padding: 25px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: rgb(228, 222, 190);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.7);
}

.question-text {
  margin: 0;
  margin-bottom: 16px;
}

.buttons-list {
  display: flex;
  flex-direction: column;
}

.answer-btn {
  margin: 10px 15px;
  text-align: left;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.true {
  color: #0cb10c;
}

.false {
  color: #ee0404;
}
